import: Activiti/activiti-scripts:.travis.java.yml@master
env:
  global:
    - ORG='activiti'
    - APP_NAME='activiti-cloud-dependencies'
    - GITHUB_CHARTS_REPO="https://${GITHUB_TOKEN}@github.com/Activiti/activiti-cloud-helm-charts.git"
    - RELEASE_BRANCH="develop"
    - RELEASE_TAG_REGEX="*M*"
    - HELM_VERSION=2.12.3
    - HELM_REPO_BASE_URL=https://kubernetes-charts.alfresco.com
    - HELM_REPO=stable
    - KUBERNETES_VERSION=1.14.8
    - TRAVIS_WAIT_TIMEOUT=${TRAVIS_WAIT_TIMEOUT:-180}

before_script:
  - echo -e "https://${GITHUB_USER}:${GITHUB_TOKEN}@github.com" >>  ~/.git-credentials
  - curl -s https://kubernetes-helm.storage.googleapis.com/helm-v${HELM_VERSION}-linux-amd64.tar.gz | tar zx
  - sudo mv linux-amd64/helm /usr/local/bin/
  - curl -Lo kubectl https://storage.googleapis.com/kubernetes-release/release/v${KUBERNETES_VERSION}/bin/linux/amd64/kubectl
  - chmod +x kubectl && sudo mv kubectl /usr/local/bin/
  - kubectl config set-cluster default-cluster --server=${K8S_API_URL} || travis_terminate 1
  - kubectl config set-credentials default-admin --token=${K8S_API_TOKEN} || travis_terminate 1
  - kubectl config set-context default-system --cluster=default-cluster --user=default-admin || travis_terminate 1
  - kubectl config use-context default-system || travis_terminate 1
  - kubectl get ns || travis_terminate 1

stages:
- name: build
- name: tag_updatebot
  if: type != pull_request

install: true

jobs:
  include:
    - name: build jars
      stage: build
      script:
        - travis_wait ${TRAVIS_WAIT_TIMEOUT} ${MAVEN_CMD} -DskipITs -DskipTests -f activiti-cloud-acceptance-scenarios/pom.xml || travis_terminate 1
        - travis_wait ${TRAVIS_WAIT_TIMEOUT} ${MAVEN_CMD} -f example-runtime-bundle/pom.xml || travis_terminate 1
        - travis_wait ${TRAVIS_WAIT_TIMEOUT} ${MAVEN_CMD} -f activiti-cloud-query/pom.xml || travis_terminate 1
        - travis_wait ${TRAVIS_WAIT_TIMEOUT} ${MAVEN_CMD} -f example-cloud-connector/pom.xml || travis_terminate 1
        - travis_wait ${TRAVIS_WAIT_TIMEOUT} ${MAVEN_CMD} -f activiti-cloud-modeling/pom.xml || travis_terminate 1
        - travis_wait ${TRAVIS_WAIT_TIMEOUT} ${MAVEN_CMD} -f activiti-cloud-dependencies/pom.xml || travis_terminate 1
        - docker build -f activiti-cloud-query/Dockerfile -q -t docker.io/activiti/activiti-cloud-query:$(cat VERSION) activiti-cloud-query
        - docker build -f example-cloud-connector/Dockerfile -q -t docker.io/activiti/example-cloud-connector:$(cat VERSION) example-cloud-connector
        - docker build -f example-runtime-bundle/Dockerfile -q -t docker.io/activiti/example-runtime-bundle:$(cat VERSION) example-runtime-bundle
        - docker build -f activiti-cloud-modeling/Dockerfile -q -t docker.io/activiti/activiti-cloud-modeling:$(cat VERSION) activiti-cloud-modeling

        - docker push docker.io/activiti/activiti-cloud-query:$(cat VERSION) || travis_terminate 1
        - docker push docker.io/activiti/example-runtime-bundle:$(cat VERSION) || travis_terminate 1
        - docker push docker.io/activiti/example-cloud-connector:$(cat VERSION) || travis_terminate 1
        - docker push docker.io/activiti/activiti-cloud-modeling:$(cat VERSION) || travis_terminate 1

        - make create-helm-charts-release-and-upload

        - cp VERSION  activiti-cloud-dependencies/
        - cd activiti-cloud-dependencies
        - travis_wait ${TRAVIS_WAIT_TIMEOUT} mvn -q versions:set -Droot.log.level=off -DnewVersion=${VERSION}  || travis_terminate 1
        - make updatebot/push-version-dry || travis_terminate 1
        - sleep 20
        - make run-helm-chart || travis_terminate 1
        - cd -
        - sleep 360
        - cd activiti-cloud-acceptance-scenarios
        - mvn -pl 'modeling-acceptance-tests' -Droot.log.level=off -q clean verify
        - mvn -pl 'runtime-acceptance-tests'  -Droot.log.level=off -q clean verify
        - cd -

    - name: tag_updatebot
      stage: tag_updatebot
      script: |
        mvn versions:set -q -DprocessAllModules=true -DgenerateBackupPoms=false  -DnewVersion=$(cat VERSION)
        mvn clean deploy -DskipTests
        git add -u
        git commit -m "Release $(cat VERSION)" --allow-empty
        git tag -fa v$(cat VERSION) -m "Release version $(cat VERSION)"|| travis_terminate 1;
        git push -f -q https://${GITHUB_TOKEN}@github.com/${TRAVIS_REPO_SLUG}.git v$(cat VERSION)|| travis_terminate 1;
        updatebot push-version --kind maven \
                  org.activiti.cloud:activiti-cloud-dependencies ${VERSION} \
                  org.activiti.cloud:activiti-cloud-modeling-dependencies ${activiti_cloud_version} \
                  org.activiti.cloud:activiti-cloud-audit-dependencies ${activiti_cloud_version} \
                  org.activiti.cloud:activiti-cloud-api-dependencies ${activiti_cloud_version} \
                  org.activiti.cloud:activiti-cloud-parent ${activiti_cloud_version} \
                  org.activiti.cloud:activiti-cloud-connectors-dependencies ${activiti_cloud_version} \
                  org.activiti.cloud:activiti-cloud-messages-dependencies ${activiti_cloud_version} \
                  org.activiti.cloud:activiti-cloud-modeling-dependencies ${activiti_cloud_version} \
                  org.activiti.cloud:activiti-cloud-notifications-graphql-dependencies ${activiti_cloud_version} \
                  org.activiti.cloud:activiti-cloud-query-dependencies ${activiti_cloud_version} \
                  org.activiti.cloud:activiti-cloud-runtime-bundle-dependencies ${activiti_cloud_version} \
                  org.activiti.cloud:activiti-cloud-service-common-dependencies ${activiti_cloud_version} \
                  --merge false;
        updatebot push-version --kind helm activiti-cloud-dependencies ${VERSION} \
                        runtime-bundle ${VERSION} \
                        activiti-cloud-connector ${VERSION} \
                        activiti-cloud-query ${VERSION} \
                        activiti-cloud-modeling ${VERSION}

after_failure:
  - cd activiti-cloud-dependencies && make delete|| echo "Trying to delete helm chart" &&  cd -
  - kubectl delete ns ${PREVIEW_NAMESPACE}
after_success:
  - cd activiti-cloud-dependencies && make delete|| echo "Trying to delete helm chart" &&  cd -
  - kubectl delete ns ${PREVIEW_NAMESPACE}



before_install:
  - echo -e "https://$GITHUB_USER:$GITHUB_TOKEN@github.com" >>  ~/.git-credentials
  - echo "$DOCKER_REGISTRY_PASSWORD" | docker login -u "$DOCKER_REGISTRY_USERNAME" --password-stdin "$DOCKER_REGISTRY"
  - curl -sSL https://download.sourceclear.com/ci.sh | CACHE_DIR=${HOME}/sourceclear
  - export activiti_cloud_version=$(grep -oPm1 "(?<=<activiti-cloud-build.version>)[^<]+" "activiti-cloud-dependencies/pom.xml")

