<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml" />
  <root level="INFO" />
  <logger name="🐳 [quay.io/keycloak/keycloak:18.0.0]" level="INFO" />
  <logger name="🐳 [rabbitmq:3.8.9-management-alpine]" level="INFO" />
</configuration>
